#error-404,
#error-410,
#error-401 {
  form {
    &#searchform {
      &.form-inline {
        .input-group {
          position: relative;

          > .form-control {
            left: 0;
            height: 60px;
            font-size: 18px;
          }

          .input-group-btn {
            button {
              height: 60px;
              padding: 8px 20px;
            }
          }
        }
      }
    }
  }

  .tag-cloud {
    margin-top: 80px;
  }
}
