/**
 * Animated Hamburger Menu for Bootstrap 3
 */
.navbar-toggle {
	&.active,
	&.active:focus,
	&:not(.active),
	&:not(.active):focus {
		background-color: transparent;
	}

	&.active {
		left: 300px;
		z-index: 5;

		.icon-bar {
			background-color: $sh-orange;

			&.top-bar {
				top: 6px;
				@include vendor('transform', 'rotate(45deg)');
			}

			&.middle-bar {
				background-color: transparent;
			}

			&.bottom-bar {
				top: -13px;
				width: 45px !important;
				@include vendor('transform', 'rotate(-45deg)');
			}
		}
	}

	.icon-bar {
		position: relative;
		@include vendor('transition', 'all 300ms ease');
	}
}
