
#archive {
  &.container-fluid {
    .archive-header {
      border-top: 1px solid #b2b7bb;
      padding-top: 50px;
      margin-bottom: 50px;

      h1 {
        font-size: 16px;
        color: #959595;
        text-transform: uppercase;
        font-family: $helvetica-bold;
        margin: 0 0 10px;
        line-height: 1;
      }

      h2 {
        margin: 0;
        line-height: 1;
        font-size: 50px;
        color: $blue-gray;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .archive-header,
	.hospital-header, {
		h2 {
			font-size: 28px !important;
		}
	}
}
