
#author {
  &.container-fluid {
    .author-header {
      margin-bottom: 50px;
      overflow: auto;

      h1 {
        font-size: 16px;
        color: #959595;
        text-transform: uppercase;
        font-family: $helvetica-bold;
        margin: 0 0 10px;
        line-height: 1;
      }

      h2 {
        margin: 0 0 30px;
        line-height: 1;
        font-size: 50px;
        color: $blue-gray;
      }
    }

    h4 {
      text-transform: uppercase;
      font-size: 16px;
      color: #959595;
      font-family: $helvetica-bold;
      margin: 0 0 30px;
    }
  }
}
