// Block Quotes
blockquote {
	&.quote {
		display: block;
		border: 0;
		padding: 0;
		margin: 40px 0 80px -70px;
		font-size: 42px;
		color: $icon-blue;
		text-align: center;
		font-family: $whitney;

		&:before {
			content: ' ';
			background: url('../img/quote-open.png') no-repeat center top;
			width: 100%;
			height: 66px;
			display: block;
			margin-bottom: 30px;
		}
		&:after {
			content: ' ';
			background: url('../img/quote-close.png') no-repeat center bottom;
			width: 100%;
			height: 66px;
			display: block;
			margin-top: 30px;
		}

		.quote-author {
			font-size: 30px;
			line-height: 1;

			span {
				&:first-of-type {
					font-weight: 700;
				}
			}
		}
	}

	&.pull-quote {
		width: 320px;
		background: $light-gray;
		border: 0;
		margin: 15px 30px 30px;
		padding: 30px;
		font-size: 16px;

		&.right {
			float: right;
		}
		&.left {
			float: left;
		}

		h2 {
			margin: 0 0 20px;
		}
		h3 {
			margin: 0 0 15px;
			font-size: 24px;
			line-height: 1;
			font-weight: 500;
		}

		ul {
			margin: 0 0 30px;
			padding-left: 20px;

			li {
				margin: 0 0 5px;
			}
		}
	}
}
