#brand-series-landing {
  .series-banner {
    display: block;
    position: relative;
    height: 325px;
    margin: 0 0 50px;
    background-size: cover !important;
    padding: 30px 15px;

    .banner-content {
      color: #FFF;
      font-size: 23px;
      font-family: $whitney;
      font-weight: 400;

      p {
        margin: 0;
        font-size: 21px;
      }

      h2 {
        color: #FFF;
        font-size: 38px;
        font-family: $whitney;
        font-weight: 500;
      }

      a {
        &.btn {
          &.btn-green-gradient {
            margin-top: 30px;
            &.large {
              padding: 20px 75px 20px 25px !important;
            }
          }
        }
      }
    }
  }
}

#brand-series {
  .series-image {
    height: 425px;
    position: relative;
    margin-bottom: 30px;

    .series-flag {
      position: absolute;
      top: 30px;
      left: 30px;
      color: #FFF;
      text-transform: uppercase;
      font-family: $whitney;
      font-size: 18px;

      span {
        font-weight: 900;
      }
    }

    .series-content {
      position: absolute;
      bottom: 50px;
      left: 30px;

      h1 {
        color: #FFF;
        margin: 0 0 15px;
      }
      p {
        color: #FFF;
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: $screen-xs) {
  #brand-series-landing {
		.col-sm-9 {
			padding-left: 0 !important;
			.col-md-12 {
				padding-left: 0 !important;
			}
		}
		.series-banner {
			padding: 15px 0;
			margin-bottom: 30px;

			.banner-content {
				&.no-left-padding,
				&.no-right-padding {
					padding-left: 15px !important;
					padding-right: 15px !important;
				}

				&.pull-left,
				&.pull-right {
					float: none !important;
				}

				p {
					line-height: 1.2;
				}

				a {
					&.btn {
						&.btn-green-gradient {
							&.large {
								font-size: 18px;
								padding: 15px 50px 15px 20px !important;
								background: #50bc76 url("//icongr.am/feather/arrow-right.svg?size=22&color=FFFFFF") no-repeat 94% center;
								background: -moz-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=22&color=FFFFFF") no-repeat 94% center;
								background: -webkit-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=22&color=FFFFFF") no-repeat 94% center;
								background: linear-gradient(to bottom, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=22&color=FFFFFF") no-repeat 94% center;
							}
						}
					}
				}
			}
		}
	}
}
