/* Uncategorized */
.uncategorized {

  &:not(.post) {
    display: none;
  }
}

/* Community */
.community {
  &:not(.post-list) {
    background: $community;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $community;
  }
}
.community-text,
.community-text a {
  &:not(.post-list) {
    color: $community;
  }
}

/* Aging Well */
.aging-well {
  &:not(.post-list) {
    background: $aging-well;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $aging-well;
  }
}
.aging-well-text,
.aging-well-text a {
  &:not(.post-list) {
    color: $aging-well;
  }
}

/* Bones, Joints & Muscles */
.orthopedics {
  &:not(.post-list) {
    background: $orthopedics;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $orthopedics;
  }
}
.orthopedics-text,
.orthopedics-text a {
  &:not(.post-list) {
    color: $orthopedics;
  }
}

/* Brain, Spine & Nerves */
.neuroscience {
  &:not(.post-list) {
    background: $neuroscience;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $neuroscience;
  }
}
.neuroscience-text,
.neuroscience-text a {
  &:not(.post-list) {
    color: $neuroscience;
  }
}

/* Cancer Care */
.cancer-care {
  &:not(.post-list) {
    background: $cancer-care;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $cancer-care;
  }
}
.cancer-care-text,
.cancer-care-text a {
  &:not(.post-list) {
    color: $cancer-care;
  }
}

/* Children's Health */
.childrens-health {
  &:not(.post-list) {
    background: $childrens-health;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $childrens-health;
  }
}
.childrens-health-text,
.childrens-health-text a {
  &:not(.post-list) {
    color: $childrens-health;
  }
}

/* Chronic Conditions */
.chronic-conditions {
  &:not(.post-list) {
    background: $chronic-conditions;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $chronic-conditions;
  }
}
.chronic-conditions-text,
.chronic-conditions-text a {
  &:not(.post-list) {
    color: $chronic-conditions;
  }
}

/* Diet & Nutrition */
.diet-nutrition {
  &:not(.post-list) {
    background: $diet-nutrition;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $diet-nutrition;
  }
}
.diet-nutrition-text,
.diet-nutrition-text a {
  &:not(.post-list) {
    color: $diet-nutrition;
  }
}

/* Digestive Health Disorders */
.digestive-health-disorders {
  &:not(.post-list) {
    background: $digestive-health-disorders;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $digestive-health-disorders;
  }
}
.digestive-health-disorders-text,
.digestive-health-disorders-text a {
  &:not(.post-list) {
    color: $digestive-health-disorders;
  }
}

/* Health & Wellness */
.health-wellness {
  &:not(.post-list) {
    background: $health-wellness;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $health-wellness;
  }
}
.health-wellness-text,
.health-wellness-text a {
  &:not(.post-list) {
    color: $health-wellness;
  }
}

/* Health Care Technology */
.technology {
  &:not(.post-list) {
    background: $research-technology;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $research-technology;
  }
}
.technology-text,
.technology-text a {
  &:not(.post-list) {
    color: $research-technology;
  }
}

/* Heart & Vascular */
.cardiovascular-care {
  &:not(.post-list) {
    background: $cardiovascular-care;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $cardiovascular-care;
  }
}
.cardiovascular-care-text,
.cardiovascular-care-text a {
  &:not(.post-list) {
    color: $cardiovascular-care;
  }
}

/* Living with Chronic Conditions */
.living-with-chronic-conditions {
  &:not(.post-list) {
    background: $chronic-conditions;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $chronic-conditions;
  }
}
.living-with-chronic-conditions-text,
.living-with-chronic-conditions-text a {
  &:not(.post-list) {
    color: $chronic-conditions;
  }
}

/* Lungs, Breathing & Sleep */
.lungs-breathing-sleep {
  &:not(.post-list) {
    background: $lungs-breathing-sleep;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $lungs-breathing-sleep;
  }
}
.lungs-breathing-sleep-text,
.lungs-breathing-sleep-text a {
  &:not(.post-list) {
    color: $lungs-breathing-sleep;
  }
}

/* Men's Health */
.mens-health {
  &:not(.post-list) {
    background: $mens-health;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $mens-health;
  }
}
.mens-health-text,
.mens-health-text a {
  &:not(.post-list) {
    color: $mens-health;
  }
}

/* Pregnancy & Childbirth */
.pregnancy-childbirth {
  &:not(.post-list) {
    background: $pregnancy-childbirth;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $pregnancy-childbirth;
  }
}
.pregnancy-childbirth-text,
.pregnancy-childbirth-text a {
  &:not(.post-list) {
    color: $pregnancy-childbirth;
  }
}


/* Spectrum Health News */
.perspectives {
  &:not(.post-list) {
    background: $community;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $community;
  }
}
.perspectives-text,
.perspectives-text a {
  &:not(.post-list) {
    color: $community;
  }
}


/* Women's Health */
.womens-health {
  &:not(.post-list) {
    background: $womens-health;
  }

  &.post-list, &.category-header, &.post {
    border-top: 1px solid $womens-health;
  }
}
.womens-health-text,
.womens-health-text a {
  &:not(.post-list) {
    color: $womens-health;
  }
}
