body {
  &.category {
    .category-header {
      height: 475px;
      border-top-width: 2px;
      background: transparent !important;
      margin-right: 15px;
      margin-bottom: 90px;

      .category-flag {
        font-size: 24px;
        line-height: 1.2;
        height: auto;
        width: auto;
      }
      .category-flag-subcat {
        font-size: 26px;
        padding-left: 20px;
        margin-top: 10px;
      }
      .category-description {
        margin-top: 25%;
        padding-left: 20px;
      }

      &.no-spotlight {
        height: auto;
        .category-description {
          margin: 50px 0;
        }
      }

      #featured-posts {
        &.category-spotlight {
          height: 475px;
          padding-left: 10px;

          .lg-featured {
            height: 475px;

            a {
              height: 475px !important;

              .feature-meta {
                h2 {
                  font-size: 45px;
                }
                .feature-meta-line {
                  span {
                    &.date {
                      background: transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  body {
		&.category {
			.top-section {
				.col-sm-9 {
					padding-left: 0 !important;
				}
			}
			.category-header {
				height: auto;
				margin-bottom: 50px;

				.category-flag {
					font-size: 22px !important;
				}

				.category-description {
					margin-top: 30px !important;
				}

				.col-md-8 {
					&.double-left-padding {
						padding-left: 15px !important;
					}
				}
				#featured-posts {
					&.category-spotlight {
						padding-left: 0;
						max-height: 420px;
						margin-top: 50px;

						.lg-featured {
							max-height: 420px;
							overflow: hidden;
							.feature-meta {
								bottom: 60px;

								h2 {
									font-size: 32px !important;
								}
								p {
									display: none;
								}

								.feature-meta-line {
									padding-top: 0 !important;

									.author {
										display: block;
									}
									> span {
										display: block;
										margin: 8px 0;

										&.meta-comments {
											padding-left: 30px;
											float: left;
											margin-right: 15px;
										}
										&.meta-shares {
											position: relative;
											top: 5px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
