form {
  &.wpcf7-form {
    font-size: 23px;

    .form-group {
      margin: 30px 0;
    }

    input,
    textarea {
      &:not([type="submit"], [type="radio"], [type="checkbox"]) {
        background: #f3f3f3;
        box-shadow: none;
        height: 60px;
        font-size: 23px;
      }
    }

    textarea {
      height: 325px !important;
    }

    label {
      font-family: $whitney;
      font-weight: 400;

      span {
        &.required {
          color: red;
        }
      }
    }

    input {
      &.wpcf7-form-control {
        &.wpcf7-submit {
          @include animate(all);

          font-size: 23px;
          font-family: $whitney;
          font-weight: 400;
          padding: 23px 70px 23px 25px;
          font-family: $whitney;
          border: 0;
          color: #FFF;
          background: rgb(80,188,118) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 88% center; /* Old browsers */
          background: -moz-linear-gradient(top, rgba(80,188,118,1) 0%, rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 88% center; /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 88% center; /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 88% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 ); /* IE6-9 */

          &:hover {
            background: rgb(78,183,126) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 91% center; /* Old browsers */
            background: -moz-linear-gradient(top, rgba(78,183,126,1) 0%, rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 91% center; /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 91% center; /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 91% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eb77e', endColorstr='#47a571',GradientType=0 ); /* IE6-9 */
          }
        }
      }
    }
  }
}
