#comments {
  margin: 60px 0;

  h2 {
    &.comments-title {
      font-size: 25px;
      color: #b2b7bb;
      margin-bottom: 40px;

      span {
        color: $icon-blue;
      }
    }
  }
  h3 {
    &.comment-reply-title {
      font-size: 38px;
      color: $icon-blue;
      font-family: $whitney;
      font-weight: 400;
      margin: 60px 0 0px;
    }
  }

  ul {
    &.comment-list {
      list-style: none;
      border-bottom: 1px solid #b2b2b2;
      padding: 0 0 40px 0;

      li {
        &.comment {
          margin: 0 0 40px;
          border-bottom: 1px solid #b2b2b2;
          padding-bottom: 40px;
          font-size: 17px;
          line-height: 1.4;

          &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
          }

          footer {
            background: transparent;
            border-top: 0;
            margin: 0;
            padding: 0;

            &.comment-meta {
              margin-bottom: 10px;

              .comment-author {
                display: inline-block;
                b {
                  &.fn {
                    font-size: 24px;
                    font-family: $whitney;
                    font-weight: 500;
                    color: $icon-blue;
                    text-transform: capitalize;
                  }
                }

                span {
                  &.says {
                    display: none !important;
                  }
                }
              }

              .comment-metadata {
                display: inline-block;
                color: #b2b7bb;
                font-size: 11px;
                font-family: $helvetica-regular;
                a {
                  color: #b2b7bb;
                }
              }
            }
          }

          ul {
            &.children {
              list-style: none;
              margin-top: 30px;
              padding: 0 20px;
              border-left: 12px solid $light-gray;

              li {
                &.comment {
                  margin: 40px 0 0px;
                  border-bottom: 0;
                  padding-bottom: 0;
                }
              }
            }
          }

          a {
            &.comment-reply-link {
              font-size: 13px;
              display: inline-block;
              background: transparent url('//icongr.am/feather/arrow-right.svg?size=16&color=b2b2b2') no-repeat 93% center;
              padding-right: 25px;
              line-height: 1;

              &:hover {
                background: transparent url('//icongr.am/feather/arrow-right.svg?size=16&color=b2b2b2') no-repeat 100% center;
              }
            }
          }
        }
      }
    }
  }

  form {
    p {
      font-size: 23px;
      color: #333333;
      font-family: $whitney;
      &.comment-notes {
        margin-bottom: 60px;

        sup {
          color: red;
          font-size: 18px;
          top: -0.1em;
        }
      }

      &.form-submit {
        padding: 0;
        margin: 20px 0;
      }

      &.logged-in-as {
        margin: 20px 0;
      }
    }

    .comment-fields {
      overflow: auto;
      margin-top: 30px;

      .form-group {
        margin: 0 0 30px;

        label {
          font-weight: 400;
          font-size: 23px;
          color: #333;
          font-family: $whitney;
        }

        span {
          &.required {
            color: red;
          }
        }

        input {
          &.form-control {
            background: #f3f3f3;
            border: 0;
            box-shadow: none;
            height: 50px;
          }
        }

        textarea {
          background: #f3f3f3;
          border: 0;
          box-shadow: none;
          height: 285px;
        }
      }
      overflow: auto;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  #comments {
		h3 {
			&.comment-reply-title {
				font-size: 26px;
			}
		}

		form {
			p {
				font-size: 16px;

				&.comment-notes {
					margin: 10px 0 30px;
				}
			}

			.comment-fields {
				.form-group {
					margin: 0 0 15px;
					label {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
  #comments {
		h2 {
			&.comments-title {
				font-size: 24px;
			}
		}
		h3 {
			&.comment-reply-title {
				font-size: 26px;
			}
		}

		ul {
			&.comment-list {
				li {
					&.comment {
						font-size: 15px;

						footer {
							&.comment-meta {
								.comment-author {
									b {
										&.fn {
											font-size: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		form {
			p {
				font-size: 16px;

				&.comment-notes {
					margin: 10px 0 30px;
				}
			}

			.comment-fields {
				.form-group {
					margin: 0 0 15px;
					label {
						font-size: 18px;
					}
				}
			}
		}
	}
}
