.cta {
	background: $light-gray;

	&.single-cta {
		margin: 30px 0 90px;
		padding: 15px 30px 40px;
		h4 {
			font-size: 22px;
			margin: 15px 0 0;
		}

		p {
			margin: 0;
		}
	}

	&.cta-inline {
		margin: 50px 0 0;
		padding: 50px;
		display: flex;
		@include vendor('align-items', 'center');

		.cta-icon {
			margin-right: 50px;
		}
		.cta-content {
			margin-right: 40px;

			h2 {
				margin: 0 0 15px;
				font-size: 42px;
				font-weight: 400;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	&.cta-stacked {
		margin: 0;
		padding: 30px 20px 60px;

		.cta-icon,
		h2,
		.cta-button {
			text-align: center !important;
		}

		h2 {
			font-size: 27px;
			margin: 15px 0 40px;
		}

		p {
			font-size: 18px;
			font-family: $whitney;
			font-weight: 400;
		}

		a {
			&.btn {
				&.btn-default {
					&.btn-green-gradient {

						&.large {
							margin-top: 40px;
							font-size: 20px;
						}

					}
				}
			}
		}
	}
}

.series-cta {
	display: block;
	margin: 30px 0;

	img {
		max-width: 100%;
		height: auto;

		&.aligncenter {
			display: inline-block;
		}
	}
}
