#featured-posts {
	height: 590px;
	overflow: hidden;
	margin-bottom: 40px;

	a {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.lg-featured,
	.md-featured,
	.sm-featured {
		position: relative;
		overflow: hidden;

		a {
			color: #FFF;
		}

		.feature-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			color: #FFF;
			z-index: 3;
			padding: 0 30px 30px;

			h2,h3 {
				font-family: $whitney;
				font-weight: 500;
				color: #FFF;
				line-height: 1;
				margin: 0 0 20px;
			}
			h3 {
				font-size: 35px;
				margin:0 0 10px 0;
			}

			p {
				margin: 0;
				font-size: 21px;
				line-height: 28px;
			}

			.feature-meta-line {
				padding-top: 15px;
				font-size: 14px;
				font-family: $helvetica-regular;
				font-weight: 500;

				span {
					display: inline-block;

					&.date {
						padding: 7px 15px 7px 30px;

					}

					&.meta-comments {
						font-size: 14px;
						margin-right: 25px;

						i {
							font-size: 24px;
							margin-right: 8px;
							position: relative;
							top: 3px;
							color: #5489c4;
						}
					}

					&.meta-shares {
						img {
							margin-right: 8px;
						}
					}
				}

				.author {
					display: inline-block;
					margin: 0 25px;
					font-size: 14px;
					font-family: $helvetica-regular;
					font-weight: 400;
					line-height: 34px;

					span {
						margin: 0;
					}

					img {
						width: 34px;
						height: 34px;
						border-radius: 100px;
						margin-right: 15px;
					}
				}
			}
		}
	}

	// Large Featured
	.lg-featured {
		height: 590px;

		// Temporary
		a {
			height: 590px !important;
		}
		// End Temporary

		.feature-meta {
			h2 {
				font-size: 45px;
			}

			.feature-meta-line {
				padding-top: 30px !important;
				margin-left: -30px;
			}
		}
	}

	// Medium Featured
	.md-featured {
		.feature-meta {
			h2 {
				font-size: 38px;
				margin: 0 !important;
			}
		}
	}

	// Small Featured
	.sm-featured {
		.feature-meta {
			h2 {
				font-size: 30px;
				margin: 0 !important;
			}
		}
	}

	// Four Blocks
	.four-up {
		.md-featured {
			height: 335px;
		}
		.sm-featured {
			height: 255px;
		}
	}

	// Three Blocks
	.three-up {
		.md-featured {
			height: 295px;
		}
	}

	// Full Width (one block)
	.one-up {
		.lg-featured {
			.feature-meta {
				padding: 0 0 30px;
			}
		}
		.md-featured,
		.sm-featured {
			display: none;
		}
	}
}

@media screen and (max-width: 1029px) {
	#featured-posts{
		.lg-featured,
		.md-featured,
		.sm-featured {
			.feature-meta {
				h2{
					font-size:40px;
				}
			}
		}
	}
}

// 768px
@media screen and (max-width: $screen-sm) {
	#home {
		#featured-posts {
			.sm-featured {
				.feature-meta {
					padding: 0 30px 30px;
				}
			}
		}
	}
}
