/**
 * Global Footer Styles
 */

footer {
    background: #32424d;
	   border-top: 10px solid $green;
    padding: 60px 0 0;
    margin-top: 60px;

    .footer-links {
        margin-bottom: 30px;

        .logo {
            margin-bottom: 75px;
        }

        .footer-column {
            color: #FFF;

            h2 {
                &.column-title {
                    color: #FFF;
                    font-size: 20px;
                    font-family: $whitney;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 15px 0;
                }
            }

            hr {
                margin: 0 0 20px;
                width: 65px;
                border-top: 2px solid #85929b;
            }

            ul {

                &:not(.children):not(#social) {
                    margin: 0 0 35px;
                }
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0 3px;
                    a {
                        color: #68baf9;
                        font-size: 14px;

                        &:hover {
                            color: #FFF;
                        }
                    }
                }

                &#social {
                    li {
                        float: left;
                        margin: 0 10px;

                        a {
                            color: #FFF;
                            font-size: 20px;

                            &:hover {
                                color: #68baf9;
                            }
                        }
                    }
                }
            }
        }

        .subscribe-box {
            background: #4a6273;
            padding: 50px 30px 40px;
            overflow-y: auto;
            overflow-x: hidden;
            color: #FFF;
            margin-bottom: 60px;

            h2 {
                font-size: 26px;
                font-weight: 500;
                margin: 0 0 8px;
                color: #FFF;
            }
        }
    }

    .copyright {
        background: #24323c;
        padding: 30px 0 60px;
        font-size: 12px;
        color: #c6c4c4;

        a {
            color: inherit;
        }

        ul {
            margin-bottom: 60px;

            li {
                display: inline-block;
                margin: 0 8px;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
  footer{
		.footer-links{
			.logo{
				margin-bottom:55px;
				img{
					width:55%;
				}
			}
			.footer-column{
				h2{
					&.colum-title{
						font-size:17px;
					}
				}
				ul{
					li{
						margin-bottom:1px;
						a{
							font-size:12px;
						}
					}
				}
			}
		}
		.contact-sh{
			padding-left:15px !important;
			ul{
				column-count:2;
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
  footer {
		.footer-links {
			.subscribe-box {
				padding: 30px;
				.col-sm-6 {
					&.no-right-padding {
						padding-left: 0;
					}
				}
			}
		}
	}
}
