/**
 * Global Styles
 */

html,
body {
	@include font-smoothing(on);
	overflow-x: hidden;
}


.test{
	*{
		border:1px solid red;
	}
}


// Override Container Width
.container-fluid,
.container {
	max-width: 1440px !important;
}

/** Global Section Styles **/
section {
	padding: 70px 0;
	clear: both;

	h2 {
		&.section-title {
			font-family: $whitney;
			font-weight: 500;
			color: $blue-gray;
			font-size: 55px;
			margin: 0 0 60px 0;
		}
	}

	.section-header {
		display: flex;
		width: 100%;
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'space-between');
 		margin-bottom:50px;

		h2 {
			&.section-title {
				margin: 0;
			}
		}
	}

	&.large {
		p {
			font-size: 23px;
			color: #7c7c7c;
		}
	}

	&.blue {
		background: $dark-blue;
		.section-header {
			a {
				&.btn-outline {
					&:hover {
						color: #FFF
					}
				}
			}
		}
		h2 {
			&.section-title {
				color: #FFF
			}
		}

		&.large {
			p {
				color: #FFF;
			}
		}
	}

	&.light-gray {
		background: $light-gray;
	}
}

#content {
	position: relative;
	z-index: 5;
}

.page {
	.page-header-container {
		border-top: 1px solid #b2b7bb;
		padding-top: 40px;
		margin-bottom: 50px;
		overflow: auto;
		overflow-x: hidden;

		h1 {
			margin: 0 0 40px;
			line-height: 1;
			font-size: 50px;
			color: $blue-gray;
		}

		.page-header-img {
			img {
				max-width: 100%;
				height: auto;
			}
		}

		p {
			color: #999999;
			font-size: 18px;
			font-family: $helvetica-regular;
			margin: 0 0 30px;

			a {
				font-weight: 700;
			}
		}
	}
}

ul {
	li {
		&.cat-item-98 {
			display: none;
		}
	}
}


@media screen and (max-width: $screen-md) {
	section {
		.section-header {
			h2 {
				&.section-title {
					font-size: 42px;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	section{
		padding:30px 0;
		h2{
			&.section-title{
				font-size: 45px;
			}
		}
	}

	blockquote {
		&.quote {
			font-size: 24px;
			margin: 20px 0 40px 0;

			&:before {
				background-size: contain;
				height: 40px;
				margin-bottom: 15px;
			}

			&:after {
				background-size: contain;
				height: 40px;
				margin-top: 30px;
			}

			.quote-author {
				font-size: 24px;
			}
		}
	}

	ul {
		&.share-list {
			li {
				margin: 0 5px;
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
	section {
		.section-header {
			h2 {
				&.section-title {
					font-size: 36px;
					margin-right: 10px;
				}
			}
		}
	}

	.page {
		> .col-sm-9 {
			padding-left: 0 !important;
			> .col-md-12 {
				padding-left: 0 !important;
			}
		}
		.page-header-container {
			margin-bottom: 30px;

			h1 {
				font-size: 36px;
			}
		}
	}

	ul {
		&.share-list {
			li {
				margin: 0 5px;
			}
		}
	}
}
