/**
 * Header/Navigation Styling
 *
 * Investigate the _bootstrap-overrides.scss file before overriding styles here
 */

header {

	// Animated Hamburger
	@import 'animated-hamburger';

	.navbar-brand {
		padding: 48px 15px;
	}


	.navbar-default {
		border: 0 !important;
		margin-bottom:5px;
		position:relative;
		z-index: 100;


		.navbar-toggle {
			height: 70px;
			border: 0;
			margin: 48px 15px 0 0;
			padding: 0px 30px;
			position: relative;
			z-index: 4;

			.icon-bar {
				height: 3px;
				margin: 0 0 7px;

				&.top-bar {
					width: 45px;
				}
				&.middle-bar {
					width: 27px;
				}
				&.bottom-bar {
					width: 40px;
				}
			}
		}

		.navbar-header {
			padding: 0px;
		}

		.header-utilities {
			padding-top: 12px;
			padding: 12px 15px 0 0;
			display:block;
			width:auto;
			height:100%;

			ul {
				list-style: none;
				margin: 0 0 20px;
				padding: 0;
				float: right;

				li {
					display: inline-block;
					margin: 0 0 0 10px;
					a {
						color: $med-blue;
						font-size: 13px;
						&:hover {
							color: $dark-blue;
						}
						i {
							font-size: 18px;
						}
						&#facebook{
							&:hover{
								color: $facebook;
							}
						}
						&#twitter{
							&:hover{
								color: $twitter;
							}
						}
						&#youtube{
							&:hover{
								color: $youtube;
							}
						}
						&#pinterest{
							&:hover{
								color: $pinterest;
							}
						}
						&#instagram{
							&:hover{
								color: $instagram;
							}
						}

					}
				}
			}

			#google_language_translator,
			#language {
				display: inline-block;
				margin-right: 15px;
				position: absolute;
				bottom: -83px;
				right:0;

				select {
					&.goog-te-combo {
						cursor: pointer;
						width: 160px !important;
						height: 40px !important;
						margin: 0 !important;
						@include vendor('appearance', 'none !important');
						background: $light-gray url('../img/down-chevron.svg') no-repeat right center !important;
						border-radius: 0 !important;
						border: 0 !important;
						color: $sh-blue !important;
						padding-left: 10px !important;

						&::-ms-expand {
							display: none;
						}
					}
				}
			}

			form {
				&#searchform {
					display: block;
					width: 97%;
					position: relative;
					float: right;
				}
			}
		}

		.navbar-nav {
			> li {
				> a {
					padding-top: 15px;
				}
			}
		}
	}
}


/* Large Screens */
@media screen and (max-width: 1300px) {
	header {
		.navbar-default {
			.header-utilities {
				padding: 12px 0;

				#google_language_translator {
					bottom: -71px;

					select {
						&.goog-te-combo {
							height: 40px;
						}
					}
				}
			}
		}
	}
}
/* Large Screens x2 */
@media screen and (max-width: 1300px) and (min-width: $screen-lg) {
	header {
		.navbar-default {
			.header-utilities {
				ul {
					&.header-social {
						margin-left: -20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1029px) {
	header {
		.navbar-default {
			.navbar-header {
				.navbar-brand {
					float: none;
					margin-left: -7px;
					height: 45px;

					svg {
						@include vendor('transform', 'scale(0.75)');
					}
				}
				.navbar-brand.sh{
					margin-left:0px !important;
					svg {
						@include vendor('transform', 'scale(0.65)');
						margin-left:-10px;
					}
				}
			}

			.navbar-toggle {
				margin-top: 45px;
			}
		}
	}
}

@media screen and (max-width: 920px) and (min-width: $screen-sm) {
	header {
		.navbar-default {
			.header-utilities {
				ul {
					li {
						margin: 0 0 0 5px;

						a {
							font-size: 12px;

							i {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-lg) {
	header {
		.navbar-default {
			.navbar-toggle {
				padding: 0;
			}

			.navbar-header {
				float: none;

				.navbar-brand {
					padding: 55px 0 0 5px;
					height: auto;

					svg {
						@include vendor('transform', 'scale(.9)');
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-md) {

}

@media screen and (max-width: $screen-sm) {
	header{
		.navbar-default{
			.navbar-toggle{
				margin-top: 40px;

				&.active {
					left: 295px;
				}
			}
			.navbar-header{
				padding-top: 35px;
				.navbar-brand{
					display:block;
					float:left;
					padding-top:0px;

					&.sh{
						svg{
							float:left;
							margin-left: -40px;
								margin-top: 5px;
						}
					}
					&.hb{
						svg{
							float:left;
							margin-left: -30px;
								margin-top: 6px;
						}
					}
				}
			}
			.header-utilities{
				display: none;

				form{
					&#searchform{
						display:none;
					}
				}
				ul{
					margin-bottom:0px;
					li{
						margin:0 0 0 25px;
					}
				}
				#google_language_translator{
					bottom:-30px;
					margin-right:0px;
					right:auto;
					left:0;
					select.goog-te-combo{
						width:200px !important;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
	header {
		.navbar-default {
			.navbar-header {
				padding-top: 0;
				.navbar-brand {
					&.hb {
						svg {
							margin-left: -10px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 0) {
	.navbar-toggle {
		display: block;
		float: left;
	}
}
