.no-padding {
	padding: 0 !important;
}
.no-left-padding {
	padding-left: 0 !important;
}
.no-right-padding {
	padding-right: 0 !important;
}
.double-padding {
	padding-left: 30px;
	padding-right: 30px;
}
.double-left-padding {
	padding-left: 30px !important;
}
.double-right-padding {
	padding-right: 30px;
}

.center-image {
  position: relative;
  top: 50%;
  left: 50%;

	@include vendor('transform', 'translate(-50%, -50%)')
}

.center-block {
	float: none !important;
	margin: 0 auto;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
