#home {

	.posts {
		.btn {
			&.btn-green-gradient {
				&.large {
					padding-left: 50px;
					padding-right: 75px;

					img {
						margin-left: 10px;
					}
				}
			}
		}
	}

	#homepage-subscribe {
		padding: 0 0 30px;

		.subscribe-box {
			background: $light-gray;
			padding: 50px 40px;
			display: flex;
			@include vendor('align-items', 'center');
			@include vendor('justify-content', 'center');

			.subscribe-title {
				margin: 0 30px 0 40px;
			}


		  h2 {
		    &.section-title {
		      margin-bottom: 10px;
		      line-height: 1;
					font-size: 50px;
		    }
		  }

		  p {
		    &.section-intro {
		      font-size: 18px;
		      font-weight: 100;
		    }
		  }
		}
	}

	#videos {
		.featured-video {
			.video-block {
				.video-content {
					color: #7c7c7c;
					font-size: 16px;
					margin: 30px 0;

					.category-flag {
						margin: 30px 0;
					}

					h3 {
						margin: 0 0 20px;
						font-size: 35px;

						a {
							color: $blue-gray;
						}
					}

					.video-excerpt {
						overflow: auto;

						a {
							&.video-post-link {
								color: #3d78b8;
								margin-left: 15px;
								float: right;
								margin-top: 5px;
								margin-right: 5px;
							}
							img {
								position: relative;
								left: 0;
								@include animate(left);
							}
							&:hover {
								color: $dark-blue;

								img {
									left: 5px;
								}
							}
						}
					}
				}
			}
		}
		.video-meta {
			border-top: 1px solid #6c84a3;
			margin: 15px 0 0;
			padding-top: 15px;
			font-size: 16px;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include vendor('align-items', 'center');

				li {
					font-size: 16px;
					margin-right: 25px;
					line-height: 26px;
					display: flex;
					@include vendor('align-items', 'center');
					height: 20px;
					float: left;


					&:last-child {
						margin-right: 0;
						float: right;
					}

					img {
						margin-right: 5px;
					}
					i {
						color: #497ebb;
						font-size: 26px;
						margin-right: 8px;
					}
				}
			}
		}
		.video-list {
			.media {
				&.video-block {
					display: block;
					position: relative;
					margin-top: 16px;

					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}

					.active-video-flag {
						opacity: 0;
						position: absolute;
						left: 142px;
						top: 60px;
						padding: 5px 10px 5px 50px;
						color: #FFF;
						font-size: 13px;
						font-family: $whitney;
						font-weight: 600;
						border-radius: 2px;
						background: rgb(80,188,118) url('//icongr.am/fontawesome/caret-left.svg?size=17&color=FFFFFF') no-repeat 15% center; /* Old browsers */
						background: -moz-linear-gradient(top, rgba(80,188,118,1) 0%, rgba(72,171,107,1) 100%) url('//icongr.am/fontawesome/caret-left.svg?size=17&color=FFFFFF') no-repeat 15% center; /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/fontawesome/caret-left.svg?size=17&color=FFFFFF') no-repeat 15% center; /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/fontawesome/caret-left.svg?size=17&color=FFFFFF') no-repeat 15% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 ); /* IE6-9 */
						@include animate(opacity);
					}

					&.active {
						overflow: visible;

						.active-video-flag {
							opacity: 1;
						}

						.media-left {
							a {
								box-shadow: 1px 2px 10px rgba(0,0,0,.2);
								img {
									border: 8px solid #FFF;
								}
							}
						}
					}

					a {
						color: $icon-blue;
						line-height: 1;
						display: block;
					}
					.media-left {
						padding-right: 20px;
						@include animate(all);

						a {
							display: block;
							width: 170px;
							height: 95px;

							img {
								max-width: 100%;
								height: auto;
							}
						}
					}

					.media-body {
						padding-top: 5px;

						.video-meta {
							margin-top: 15px;
							padding: 10px 0 0;

							ul {
								li {
									display: block;
									float: none;
									color: #FFF;
									font-size: 13px;
									i {
										font-size: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	#cta-container {
		margin-top: 0;
		padding-top: 0;

		.cta {
			position: relative;
			color: #FFF;
			font-weight: 400;
			display: block;
			background-size: cover !important;

			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}

			.cta-content {
				position: absolute;
				top: 30px;
				bottom: 30px;
				left: 30px;
				right: 30px;
				z-index: 2;

				h2 {
					color: #FFF;
					font-family: $whitney;
					font-size: 55px;
					font-weight: 500;
					margin: 0;
					line-height: 1;

				}

				.cta-excerpt {
					position: absolute;
					bottom: 0px;


					p {
						color: #FFF;
						font-size: 26px;
						font-weight: 400;
						line-height: 30px;
					}
					a {

						&.cta-link-text {
							&.btn-outline {
								color: #FFF;
								font-size: 23px;
								font-weight: 400;
								line-height: 30px;
								display: inline-block;
								margin: 30px 0 0;
								border-color: #FFF;
								background: transparent url('//icongr.am/feather/arrow-right.svg?size=24&color=7fc4f5') no-repeat 93% center;
								&:hover {
									background: transparent url('//icongr.am/feather/arrow-right.svg?size=24&color=7fc4f5') no-repeat 95% center;
								}
							}
						}
					}
				}
			}

			.cta-gradient {
				opacity: .3;
				display: block;
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
				background: -moz-linear-gradient(-45deg, rgba(0,0,0,1.0) 0%, rgba(0,0,0,1.0) 1%, rgba(30,87,153,0.77) 48%, rgba(30,87,153,0.89) 76%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1.0) 0%,rgba(0,0,0,1.0) 1%,rgba(30,87,153,0.77) 48%,rgba(30,87,153,0.89) 76%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg, rgba(0,0,0,1.0) 0%,rgba(0,0,0,1.0) 1%,rgba(30,87,153,0.77) 48%,rgba(30,87,153,0.89) 76%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f1e5799', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
		}
	}

	#special-series {
		width: 100%;
		flex-wrap: wrap;

		.series {
			a {

				h3 {
					font-size: 35px;
					color: $dark-blue !important;
					margin: 30px 0;
					line-height: 1;
				}
			}
			.series-img {
				height: 220px;
				overflow: hidden;

				img {
					max-width: 100%;
					height: auto;
				}
			}

			.series-excerpt {
				margin-bottom: 30px;
			}
		}
	}

	#infographics {
		position: relative;
		max-height: 700px;
		overflow: hidden;

		.infographic-gradient {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: inset 0 -160px 160px -160px rgba(0,0,0,.25);
			z-index: 0;
		}

		#infographic-carousel {
			position: relative;
			z-index: 999;

			.slick-list {
				padding-left: 15px;
			}
		}

		.section-header {
			margin-bottom: 30px;
		}

		.infographic-item {

			&.slick-slide {
				a {
					transform: translateY(70px);
					display: block;
					margin: 0 15px;
					box-shadow: inset 0 -160px 160px -160px rgba(0,0,0,.2);
					box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.15),
											0 5px 0px 0px rgba(0, 0, 0, 0.15),
											5px 0 15px -5px rgba(0, 0, 0, 0.2),
											-5px 0 15px -5px rgba(0, 0, 0, 0.2);
					position: relative;
					overflow: hidden;
					background: #FFF;

					&:hover {
						transform: translateY(20px);
						box-shadow: 0 10px 25px 10px rgba(0,0,0,.15);
						.infographic-gradient {
							box-shadow: inset 0 -110px 110px -110px rgba(0,0,0,.1);
						}
					}

					.infographic-gradient {
						box-shadow: inset 0 -160px 160px -160px rgba(0,0,0,.5);
						@include animate(box-shadow);
					}

					img {
						max-width: 100%;
						min-height: 100%;
					}
				}
			}
		}
	}
}

#gallery-carousel {
	.gallery-item {
		overflow: hidden;
		width: auto;
		padding: 0 30px;
		position: relative;

		&:focus,
		&:active,
		&:hover {
			outline: none;
		}
		.slick-prev,
		.slick-next {
			opacity: 0;
		}

		&.slick-active {
			z-index: 888;
			&.slick-current {
				position: relative;
				z-index: 999;

				.gallery-excerpt,
				.gallery-link,
				.gallery-button,
				.gallery-photo img {
					opacity: 1;
				}

				.slick-prev,
				.slick-next {
					opacity: .75;
					@include animate(opacity);

					&:hover {
						opacity: 1;
					}
				}
				.gallery-excerpt{
					padding-bottom:15px;
					p{
						margin-bottom:30px;
						display:block;
					}
				}
			}

			.gallery-photo {
				img {
					opacity: .65;
					cursor: pointer;
				}
			}
		}

		.gallery-excerpt,
		.gallery-link,
		.gallery-button {
			opacity: 0;
			@include animate(opacity);
			text-align: left;
			font-size: 16px;
			color: #7c7c7c;
			p{
				font-size: 16px;
				line-height:23px;
				margin-top:10px;
			}
		}
		.gallery-link {
			display: block;
			margin: 15px 0 0;
			font-size: 14px;

			a {
				font-size: 21px;
				font-family: $whitney;
				color: $light-blue;

				&:hover {
					color: $dark-blue;
				}
			}
		}
		.gallery-button {
			margin: 50px 0 15px;
			float: right;
			a {
				&.btn-outline {
					font-size: 23px;
				}
			}
		}
		.gallery-photo {
			margin-bottom: 30px;

			img {
				opacity: .4;
				height: 580px;
				width: auto;
				@include animate(all);
			}
		}
	}
}


/*RESPONSIVE HOMEPAGE STYLES*/
@media (min-width: $screen-lg) {
	#home{
		#homepage-subscribe{
			&.subscribe-box{
				.subscribe-container{
					padding:0 30px;
					h2.section-title{
						font-size:50px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-lg) {
	#home {
		#featured-posts {
			.lg-featured {
				.feature-meta {
					h2 {
						font-size: 36px;
						margin-bottom: 10px;
					}

					p {
						font-size: 21px;
					}
				}
			}

			.md-featured {
				.feature-meta {
					h3 {
						font-size: 32px;
					}
				}
			}

			.sm-featured {
				.feature-meta {
					padding: 0 15px 15px;
					h2 {
						font-size: 24px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-md) {
	#home {
		#featured-posts {
			height: auto;
			margin-bottom: 60px;
		}

		#videos {

			.featured-video {
				.video-block {
					iframe {
						height: auto;
						min-height: 324px;
					}

					.video-content {
						h3 {
							font-size: 28px;
						}
					}
				}
			}

			.video-list {
				.video-block {
					&.media {

						.media-left {
							a {
								width: 115px;
								height: 70px;
							}
						}
						a {
							&.video-list-item {
								font-size: 13px;

								&.video-img {
									float: left;
								}
							}
						}
					}

					.active-video-flag {
						left: 65px !important;
						top: 35px !important;
						font-size: 12px;
					}
				}
			}
		}

		#gallery-carousel {
			.gallery-item {
				.gallery-photo {
					img {
						height: 400px;
					}
				}
			}
		}

		#special-series {
			.series {
				.series-img {
					height: auto;
				}

				a {
					h3 {
						font-size: 28px;
						margin: 30px 0 15px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {

	section {
		.section-header {
			display: block;

			h2 {
				&.section-title {
					margin-right: 0;
					margin-bottom: 20px;
					font-size: 38px;
				}
			}
		}
	}

	#home{
		#homepage-subscribe {
			margin-top: 0 !important;

			.subscribe-container {
				.subscribe-box {
					display: block;
					text-align: center;
					padding: 30px 20px;

					svg,
					h2.section-title,
					p.section-intro {
						display: block;
						margin: 0 auto;
					}

					.subscribe-title {
						margin: 30px 0;
					}

					h2 {
						&.section-title {
							font-size: 42px;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		#photos {
			#gallery-carousel {
				.gallery-item {
					max-width: 100vw;

					.gallery-photo {
						img {
							height: auto;
							max-width: 100%;
						}
					}
				}

				.slick-next,
				.slick-prev {
					width: 50px;
					height: 100px;
				}
			}
		}
		#videos{
			.featured-video{
				.video-block{
					iframe{
						height:250px;
					}
				}
			}
			.video-list{
				padding-top:30px;
				.media{
					&.video-block{
						position: static;

						.media-body {
							display: table-cell;
						}
						.active-video-flag{
							top:65px !important;
						}

						a{
							font-size:13px;
							line-height:15px;
							span{
								margin-top: 0px;
								position:relative;

							}
						}
						.media-left{
							overflow:hidden;
							padding-right: 0;
							display: table-cell;

							> a {
								margin-right: 15px;
							}
						}
						&.active{
							min-height: 90px;

							.media-left{
								a{
									img{
										border:0px;
									}
								}
							}
						}
					}
				}
			}
			.no-right-padding{
				padding-left:0px;
			}
			.video-meta{
				ul{
					li{
						font-size:11px;
						img{
							height:90%;
						}
						i{
							font-size:17px;
						}
					}
				}
			}
		}

		#infographics {
			#infographic-carousel {
				.slick-list {
					padding-left: 0;
				}
			}
			.infographic-item {
				&.slick-slide {
					width: 100vw;

					a {
						margin: 0 15px;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
	form{
		&.subscribe{
			input{
				margin-bottom:20px;
			}
		}
	}
	#featured-posts{
		.lg-featured{
			.feature-meta{
				p{
					font-size:16px;
					line-height:25px;
				}
				.feature-meta-line{
					span{
						&.date{
							padding:7px 5px 7px 30px;
						}

					}
					.author{
						span{
							font-size:12px;
						}
					}
				}
			}
		}

		.md-featured {
			.feature-meta {
				h3 {
					font-size: 28px;
				}
			}
		}

		.sm-featured {
			.feature-meta {
				h2 {
					font-size: 28px;
				}
			}
		}
	}
	#special-series{
		.series{
			margin-bottom:70px;
		}
	}
}

@media screen and (max-width: $screen-xs) {
	#home {
		#featured-posts {
			.lg-featured {
				.feature-meta {
					p {
						font-size:16px;
						line-height:25px;
					}
					.feature-meta-line {
						span {
							&.date {
								padding:7px 5px 7px 30px;
							}
							&.meta-comments {
								margin-left: 30px;
							}
						}
						.author {
							display: block;
							margin: 5px 30px;
							span {
								font-size:12px;

								img {
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}
