.top-section {
  .hospital-header {
    margin: 0 15px 30px !important;
    #featured-posts {
      height: 455px;

      .hospital-image {
        height: 455px;
        position: relative;

        .col-sm-3 {
          position: absolute;
          bottom: 0;
          top: 0;
          right: 0;
        }

        .col-sm-9 {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;

          h2 {
            font-size: 45px;
            font-family: $whitney;
            font-weight: 500;
            margin-bottom: 30px;
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: #FFF;
            z-index: 999;
          }
        }

        .feature-meta {

          background: rgba(0,0,0,.5);
          padding: 0 5px 0 15px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;

          @include vendor('justify-content', 'center');
          @include vendor('align-items', 'center');
          @include vendor('flex-direction', 'column');

          ul {
            padding: 0;
            list-style: none;
            display: block;
            width: 100%;
            position: relative;
            z-index: 999;

            li {
              margin: 0 0 7px;

              h3 {
                font-size: 22px;
                font-weight: 500;
                margin: 0 0 25px;
              }

              a {
                display: block;
                height: auto !important;
                position: static;
                font-size: 12px;
                width: 100%;
                vertical-align: middle;

                i {
                  color: $icon-blue;
                  font-size: 16px;
                  margin-right: 5px;
                  vertical-align: middle;
                }
              }
            }

            &:nth-child(2) {
              margin-top: 30px;
            }
          }
          .feature-meta-line {
            span {
              &.date {
                background: transparent;
              }
            }
          }
        }
      }
    }

    .hospital-description {
      margin: 0 0 40px;

      p {
        margin: 0 0 30px;
        font-size: 22px;
        color: #999999;
        font-family: $helvetica-regular;
      }
    }

    h3 {
      font-size: 30px;
      font-weight: 700;
      color: $icon-blue;
    }
  }
}
