#infographics {
  padding-bottom: 150px;
  
  .infographic-masonry {
    min-height: 100vh;

    .grid-item {
      margin: 0 0 15px;
    }

    .post-block {
      &.infographic-block {
        border: 0;

        &:hover {
          box-shadow: none;
        }

        .infographic-content {
          box-shadow: 12px 0 15px -7px rgba(0, 0, 0, 0.15), -12px 0 8px -7px rgba(0, 0, 0, 0.15);

          text-align: center;

          .post-image {
      			max-height: none;
      		}
      		.post-content {
      			height: auto;
            background: $light-gray;
            padding: 30px 5px;

            h3 {
              font-size: 18px;
              font-weight: 600;
              display: block;
            }
      		}
        }
    	}
    }
  }

  #ajax-load-more {
    .alm-btn-wrap {
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
}
