/**
* Offcanvas Navigation Styles
*/

// Navigation
$zindex-navmenu-fixed:     $zindex-modal;
$zindex-alert-fixed:       1035;

$container-smooth:         $container-lg;

$alert-fixed-width:        $screen-md-min;

// Basics of a navmenu
$navmenu-width:                     400px;
$navmenu-margin-vertical:           (0.5 * $line-height-computed);
$navmenu-default-color:             $dark-blue;
$navmenu-default-bg:                #FFF;
$navmenu-default-border:            darken($navmenu-default-bg, 6.5%);

// Navmenu links
$navmenu-default-link-color:                $dark-blue;
$navmenu-default-link-hover-color:          #FFF;
$navmenu-default-link-hover-bg:             $light-gray;
$navmenu-default-link-active-color:         #FFF;
$navmenu-default-link-active-bg:            $light-gray;
$navmenu-default-link-disabled-color:       #ccc;
$navmenu-default-link-disabled-bg:          transparent;

// Navmenu brand label
$navmenu-default-brand-color:               $dark-blue;
$navmenu-default-brand-hover-color:         $dark-blue;
$navmenu-default-brand-hover-bg:            transparent;

@mixin offcanvas {
	display: none;
	&.in {
		display: block;
	}
}

.offcanvas {
	@include offcanvas;
}

@media (max-width: $screen-xs-min) {
	.offcanvas-xs {
		@include offcanvas;
	}
}
@media (max-width: $screen-sm-min) {
	.offcanvas-sm {
		@include offcanvas;
	}
}
@media (max-width: $screen-md-min) {
	.offcanvas-md {
		@include offcanvas;
	}
}
.offcanvas-lg {
	@include offcanvas;
}

#main-canvas {
	position: relative;
	left: 0;
	z-index: 2;
	min-height: 100vh;
	background: #FFF;
}


.backdrop {
	background: rgb(0, 25, 47);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	@include animate(all);

	&.coverDark {
		opacity: .85;
		z-index: 3;
		visibility: visible;
	}
}

.canvas-sliding {
	@include vendor('transition', 'top 0.4s, left 0.4s, bottom 0.4s, right 0.4s');
}

.offcanvas-clone {
	height: 0px !important;
	width: 0px !important;
	overflow: hidden !important;
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
	position: absolute !important;
	top: auto !important;
	left: auto !important;
	bottom: 0px !important;
	right: 0px !important;
	opacity: 0 !important;
}

.modal-backdrop.allow-navbar {
	z-index: 1029;
}

.limit-backdrop {
	overflow: hidden!important;

	.modal-backdrop {
		position: absolute;
	}
}

// Navmenu
#offcanvas-nav {
	z-index: 0;
	width: 300px !important;
	&.in {
		background: #f1f1f1;
		background: -moz-linear-gradient(top, #f1f1f1 13%, #d1d1d1 78%);
		background: -webkit-linear-gradient(top, #f1f1f1 13%,#d1d1d1 78%);
		background: linear-gradient(to bottom, #f1f1f1 13%,#d1d1d1 78%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d1d1d1',GradientType=0 );
		z-index: 4;
	}
}
.navmenu,
.navbar-offcanvas {
	width: $navmenu-width;
	height: auto;
}
// Fixed iphone with disableScrolling
.lockIphone {
	position: fixed;
	overflow: hidden;
	height: 100%;
	-webkit-overflow-scrolling: auto;
}
// Fix the bug for bootstrap 3.2.0 (https://github.com/jasny/bootstrap/issues/355)
.navbar-fixed-top,
.navbar-fixed-bottom {
	@include vendor('transform', 'none');
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
	position: fixed;
	z-index: $zindex-navmenu-fixed;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	border-radius: 0;
}
.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
	left: 0;
	right: auto;
}
.navmenu-fixed-right,
.navbar-offcanvas {
	left: auto;
	right: 0;
}

.navmenu-nav {
	margin-bottom: $navmenu-margin-vertical;

	&.dropdown-menu {
		position: static;
		margin: 0;
		padding-top: 0;
		float: none;
		border: none;
		@include box-shadow(none);
		border-radius: 0;

		li > a {
			white-space: normal;
		}
	}
}

.navbar-offcanvas {
	.navbar-nav {
		margin: 0;
	}

	@media (min-width: $grid-float-breakpoint) {
		width: auto;
		border-top: 0;
		box-shadow: none;

		&.offcanvas {
			position: static;
			display: block !important;
			height: auto !important;
			padding-bottom: 0; // Override default setting
			overflow: visible !important;
		}

		// Account for first and last children spacing
		.navbar-nav.navbar-left:first-child {
			margin-left: -$navbar-padding-horizontal;
		}
		.navbar-nav.navbar-right:last-child {
			margin-right: -$navbar-padding-horizontal;
		}

		.navmenu-brand {
			display: none;
		}
	}
}

// Brand/project name
.offcanvas-logo {
	margin: 30px 0;
	h2{
		font-size:27px;
		font-weight:300;
		margin-bottom:20px;
	}
	.header-utilities{
		position:relative;
		width:99%;
		#searchform{
			margin-left: -5px;
			margin-bottom:30px;
			&.form-inline{
				.input-group{
					.form-control{
						background:#fff;
					}
				}
			}
		}
		.btn{
			&.btn-default{
				&.btn-green-gradient{
					background: #50bc76 url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 90% center;
background: -moz-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 93% center;
background: -webkit-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 93% center;
background: linear-gradient(to bottom, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 93% center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 );
					&:hover{
						background: #50bc76 url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 95% center;
background: -moz-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 95% center;
background: -webkit-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 95% center;
background: linear-gradient(to bottom, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=27&color=FFFFFF") no-repeat 95% center;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 );

					}
					&.large{
						padding:10px 45px 10px 20px;
						font-size:20px;
					}
				}
			}
		}
	}
}
.navmenu-brand {
	display: block;
	font-size: $font-size-large;
	line-height: $line-height-computed;
	padding-top: 10px;
	padding-bottom: 10px;

	&:hover,
	&:focus {
		text-decoration: none;
	}
	margin: 0;

	img {
		max-width: 100%;
		height: auto;
	}
}

// Alternate navmenus
// --------------------------------------------------

// Default navmenu
.navmenu-default,
.navbar-default .navbar-offcanvas {
	background-color: $navmenu-default-bg;

	.nav-section {
		ul {
			&.children {
				margin-left:-14px;
				> li {

					> a {
						padding-left: 30px;
						font-size:14px;
						color:#7b7b7b !important;

					}
				}
			}
		}
	}

	.navmenu-brand {
		color: $navmenu-default-brand-color;
		&:hover,
		&:focus {
			color: $navmenu-default-brand-hover-color;
			background-color: $navmenu-default-brand-hover-bg;
		}
	}

	.navmenu-text {
		color: $navmenu-default-color;
	}

	.nav-section {
		margin: 30px 0;

		h2 {
			&.nav-title {
				font-family: $helvetica-bold;
				font-size: 16px;
				text-transform: uppercase;
				color: $light-blue;
			}
		}

		ul {
			list-style: none;
			margin: 0 0 0 -15px;
			padding: 0;
			// Caret should match text color on hover
			> .dropdown > a:hover .caret,
			> .dropdown > a:focus .caret {
				border-top-color: $navmenu-default-link-hover-color;
				border-bottom-color: $navmenu-default-link-hover-color;
			}

			// Remove background color from open dropdown
			> .open > a {
				&,
				&:hover,
				&:focus {
					background-color: $navmenu-default-link-active-bg;
					color: $navmenu-default-link-active-color;
					.caret {
						border-top-color: $navmenu-default-link-active-color;
						border-bottom-color: $navmenu-default-link-active-color;
					}
				}
			}
			> .dropdown > a .caret {
				border-top-color: $navmenu-default-link-color;
				border-bottom-color: $navmenu-default-link-color;
			}
			&.dropdown-menu {
				background-color: $navmenu-default-link-active-bg;
				& > .divider {
					background-color: $navmenu-default-bg;
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						background-color: darken($navmenu-default-link-active-bg, 6.5%);
					}
				}
			}
			> li{
				border-top:1px solid #ccc;
				padding-left:7px;
			}

			> li > a {
				color: #333333 !important;
				display: block;
				padding: 5px 10px;
				font-family:$helvetica-regular;
				&:hover,
				&:focus {
					color: $navmenu-default-link-hover-color;
					background-color: $navmenu-default-link-hover-bg;
				}
			}
			> .active > a,
			> .current-cat > a {
				&,
				&:hover,
				&:focus {
					color: $navmenu-default-link-active-color;
					background-color: $navmenu-default-link-active-bg;
				}
			}
			> .disabled > a {
				&,
				&:hover,
				&:focus {
					color: $navmenu-default-link-disabled-color;
					background-color: $navmenu-default-link-disabled-bg;
				}
			}
		}

		label {
			display: none;
		}

		select {
			@include vendor('appearance', 'none');

			&::-ms-expand {
				display: none;
			}

			background: #edf2fa url("../img/down-chevron.svg") no-repeat right center !important;
			border-radius: 0 !important;
			border: 0 !important;
			color: #5388c2 !important;
			padding: 5px 5px 5px 10px;
			height: 40px;
			width: 260px;
		}


	}
}

@media screen and (max-width: $screen-sm) {
	#offcanvas-nav {
		&.in {
			bottom: 0 !important;
		}
	}
}
