.post-nav {
	clear: both;
}

ul {
	&.pager {
		text-align: left;
		padding-left: 15px;
		clear: both;
		padding-top: 15px;

		li {
			> a,
			> span {
				border-radius: 0;
				padding: 20px 30px;
				font-size: 26px;
				color: #FFF;
				background: #b8c3c6; /* Old browsers */
				background: -moz-linear-gradient(top, #b8c3c6 1%, #a1aaae 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #b8c3c6 1%,#a1aaae 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #b8c3c6 1%,#a1aaae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c3c6', endColorstr='#a1aaae',GradientType=0 ); /* IE6-9 */
				position: relative;
				z-index: 100;


				&:before {
					background: lighten(#b8c3c6, 5%); /* Old browsers */
					background: -moz-linear-gradient(top, lighten(#b8c3c6, 5%) 1%, lighten(#a1aaae, 5%) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, lighten(#b8c3c6, 5%) 1%,lighten(#a1aaae, 5%) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, lighten(#b8c3c6, 5%) 1%,lighten(#a1aaae, 5%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c3c6', endColorstr='#a1aaae',GradientType=0 ); /* IE6-9 */
					content: '';
			    display: block;
			    height: 100%;
			    position: absolute;
			    top: 0; left: 0;
			    opacity: 0;
			    width: 100%;
			    z-index: -100;
					transition: opacity 0.3s;
				}

				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}

			&.next,
			&.previous {
				> a,
				> span {
					float: none;
					background: transparent;
					color: $sh-blue;
					padding: 0;

					&:before {
						background: transparent;
					}
					&:hover {
						color: $dark-blue;
					}
				}
			}

			&.next {
				padding-left: 15px;
			}
			&.previous {
				padding-right: 15px;
			}

			&.active {
				> a,
				> span {
					background: lighten(#b8c3c6, 7%); /* Old browsers */
					background: -moz-linear-gradient(top, lighten(#b8c3c6, 7%) 1%, lighten(#a1aaae, 7%) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, lighten(#b8c3c6, 7%) 1%,lighten(#a1aaae, 7%) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, lighten(#b8c3c6, 7%) 1%,lighten(#a1aaae, 7%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c3c6', endColorstr='#a1aaae',GradientType=0 ); /* IE6-9 */
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	ul {
		&.pager {
			li {
				> a,
				> span {
					font-size: 14px;
					padding: 10px 15px;
				}

				&.previous {
					display: none;
				}

				img {
					@include vendor('transform', 'scale(.8)');
				}

				a[title="next"],
				a[title="previous"] {
					padding: 8px 12px;
					position: relative;
					bottom: 1px;
				}

			}
		}
	}
}
