#popular-posts {
  .wpp-list {
    .popular-post {
      height: 230px;
      margin-bottom: 60px;
      position: relative;

      a {
        &:hover {
          color: $sh-blue;
        }

        &.hovered {
          color: $sh-blue;
        }
      }

      .popular-post-image {
        img {
          max-width: 100%;
        }
      }

      h3 {
        font-size: 24px;

        a {
          color: $dark-blue;
        }
      }

      .stats {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        ul {
          margin: 0;
          padding: 0;
          overflow: auto;

          li {
            clear: none;
            font-size: 13px;

            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
          }
        }
      }
    }
  }
}
