.post-block {
	margin-bottom: 40px;
	display: block;
	border: 1px solid #d7d7d7;
	@include animate(box-shadow);

	&:hover {
		box-shadow: 0px 5px 32px rgba(0,0,0,.13);
	}

	.post-image {
		display: block;
		text-align: center;
		position: relative;
		max-height: 147px;
		overflow: hidden;

		.category-flag {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
		img {
			max-width: 100%;
			min-width: 100%;
			height: auto;
		}
	}
	.post-content {
		padding: 15px 20px;
		height: 320px;
		color: #333;
		position: relative;

		.block-type {
			text-transform: uppercase;
			font-size: 11px;
			margin-bottom: 10px;
		}

		h3 {
			margin-top: 0;
			color: $dark-blue;
		}

		.post-meta {
			position: absolute;
			bottom: 15px;
			left: 20px;
			right: 20px;

			.byline {
				display: flex;
				@include vendor('align-items', 'center');
				margin-bottom: 8px;

				span {
					display: inline-block;

					&.author-img {
						img {
							width: 34px;
							height: 34px;
							border-radius: 100px;
							margin-right: 10px;

							&.avatar-default {

							}
						}
					}

					&.author-name {
						font-size: 13px;
						color: #959595;
					}
				}
			}
			.meta {
				border-top: 1px solid #e0e0e0;
				padding-top: 15px;
				font-size: 16px;

				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					@include vendor('align-items', 'center');

					li {
						font-size: 13px;
						margin-right: 25px;
						line-height: 26px;
						display: flex;
						@include vendor('align-items', 'center');
						height: 20px;
						float: left;

						i,
						img {
							margin-right: 7px;
						}
						i {
							color: #497ebb;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}

.media {
	&.post-list {
		margin-bottom: 60px;

		.media-left {
			.post-image {
				position: relative;
				width: 321px;
				height: 148px;
				margin-right: 30px;

				.category-flag {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
				}
				img {
					max-width: 100%;
					min-width: 100%;
					height: auto;
				}
			}
		}

		.media-body {
			.post-content {
				padding: 10px 0 0;
				color: #333;
				position: relative;

				.block-type {
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 1px;
				}

				h3 {
					margin-top: 10px;
					color: $dark-blue;
				}

				.post-meta {
					display: block;
					margin-top: 20px;

					display: flex;
					@include vendor('align-items', 'center');
					margin-bottom: 8px;

					.meta {
						font-size: 16px;
						width: 100%;

						ul {
							margin: 0;
							padding: 0;
							list-style: none;

							li {
								font-size: 13px;
								margin-right: 25px;
								line-height: 26px;
								display: flex;
								@include vendor('align-items', 'center');
								height: 20px;
								float: left;

								&.author-img {
									@include vendor('align-self', 'flex-start');
									margin-right: 0;

									a {
										display: block;
										img {
											width: 34px;
											height: 34px;
											border-radius: 100px;
											margin-right: 10px;

											&.avatar-default {
												background: $dark-blue;
											}
										}
									}
								}

								&.author-name {
									font-size: 13px;
									color: #959595;
									a {
										font-size: 13px;
										color: #959595;
										margin-left: 3px;

										&:hover {
											color: $dark-blue;
										}
									}
								}

								&.post-date {
								}

								&.post-comments {
									float: right;

									a {
										color: #333;
										i {
											color: $icon-blue;
										}
									}
								}

								&.post-shares {
									float: right;
								}

								i,
								img {
									margin-right: 7px;
								}
								i {
									color: #497ebb;
									font-size: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
}


/*RESPONSIVE HOMEPAGE STYLES*/
@media (min-width: $screen-lg) {
	.post-block {
		.post-content{
			h3{
				font-size:25px;
			}
			p{
				font-size:14px;
			}
		}

	}
}

@media screen and (max-width: $screen-lg) {
	.post-list {
		&.media {
			.media-left {
				.post-image {
					width: 260px;
					height: 110px;
					margin-right: 15px;
				}
			}

			.media-body {
				.post-content {
					a {
						&.post-title {
							h3 {
								font-size: 24px;
								margin-top: 5px;
							}
						}
					}

					p {
						font-size: 14px;
					}

					.post-meta {
						.meta {
							ul {
								li {

									font-size: 11px;
									margin-right: 10px;

									img {
										margin-right: 0;
									}

									&.author-img {
										a {
											img {
												width: 26px;
												height: 26px;
											}
										}
									}

									&.author-name {
										font-size: 11px;

										a {
											font-size: 11px;
										}
									}

									&.post-shares,
									&.post-comments {
										i {
											font-size: 14px;
											margin-right: 4px;
										}
										img {
											max-width: 15px;
											margin-right: 4px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.post-block {
		.post-content {
			.block-type {
				margin-bottom: 8px;
			}
			h3 {
				font-size: 24px;
				line-height: 1.1;
			}

			p {
				font-size: 14px;
			}

			.post-meta {
				.byline {
					span {
						&.author-name {
							font-size: 11px;
						}

						&.author-img {
							width: 25px;
							height: 25px;
							margin-right: 5px;
							img {
								width: 25px;
								height: 25px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	.media{
		.media-left,
		.media-right,
		.media-body{
			display:inline;
		}
		&.post-list{
			border: 1px solid #d1d1d1;
			margin-bottom: 30px;

			.media-body{
				.post-content{
					padding: 15px;

					.post-meta{
						.meta{
							ul{
								li{
									font-size:11px;
									float: none;
									&.author-name{
										font-size: 11px;
										a {
											font-size:11px;
										}
									}
									&.author-img{
										float: left;
										a{
											img{
												width:25px;
												height:25px;
											}
										}
									}

									&.post-date {
										padding-left: 35px;
										float: left;
									}
								}
							}
						}
					}
				}
			}
			.media-left{
				padding-right:0px;
				.post-image{
					width:480px;
					height:221px;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
	.media {
		&.post-list {
			.media-left {
				.post-image {
					width: 100%;
					height: 175px;

					img {
						min-height: 100%;
						max-height: 100%;
						max-width: none;
						min-width: none;
						width: auto;
					}
				}
			}
		}
	}
}
