/** Print **/
@media print {
   @page {
      size: auto;
      margin: 15mm 10mm;
   }
   html,
   body {
      background: white;
      color: #000;
      margin: 0;
      -webkit-print-color-adjust: exact;
      height: auto !important;
      overflow-x: hidden;
   }
   a[href]:after {
      content: none !important;
   }

   .navbar {
     display: block !important;

     a {
       &.navbar-brand {
         margin-left: 0 !important;
       }
     }
     .backdrop,
     .col-lg-2,
     .col-lg-3 {
       display: none !important;
     }
   }

   .top-section {
     > .col-sm-3 {
       display: none;
     }
   }
   #sidebar,
   #comments,
   footer,
   .slick-arrow,
   .navbar-toggle,
   .single-share,
   .post-gallery .gallery-item:not(:first-of-type),
   .post-gallery-thumbs  {
     display: none !important;
   }

   body {
     &.single {

       .col-sm-9 {
         width: 100%;
       }

       .post-gallery {
         .slick-track {
           max-width: 100%;
         }

         .gallery-item {
           width: 100%;

           img {
             margin: 0 !important;
           }

           .gallery-caption {
             margin: 30px 0 !important;
           }
         }
       }
     }
     .post {
       .post-byline {
         padding-bottom: 15px !important;
         min-height: 0 !important;

         ul {
           li {
             &.divider {
               &:not(:nth-of-type(2)) {
                 display: none;
               }
             }
             &.author {
               small {
                 display: none !important;
               }
             }
             &.comment-shares {
               display: none;
             }
           }

           &.share-list {
             display: none;
           }

           &.date {
             display: block;
           }
         }
       }

       .post-content {
         padding-left: 0 !important;
         margin-left: 0 !important;
       }
     }
   }
}
