form {
  &#searchform {
    &.form-inline {
      .input-group {
        width:100%;
        > .form-control {
          width: 100%;
          height: 40px;
          position: relative;
          left: 5px;
          font-size: 13px;
          background: $light-gray;
          border: 0;
          box-shadow: none;
        }

        .input-group-btn {
          button {
            padding: 8px 12px;
            background: $sh-blue;
            color: #FFF;
            border: 0;
            position: absolute;
            right: -3px;
            top: 0;
          }
        }
      }
    }

    ::-webkit-input-placeholder {
    	color: $sh-blue !important;
    }
    ::-moz-placeholder {
    	color: $sh-blue !important;
    }
    ::-ms-input-placeholder {
    	color: $sh-blue !important;
    }
    :-moz-input-placeholder {
    	color: $sh-blue !important;
    }
    ::placeholder {
    	color: $sh-blue !important;
    }
  }
}
