@import 'cta';
@import 'blockquotes';
@import 'cf7forms';

// Links
a {
	@include animate(all);

	&:focus,
	&:active,
	&:hover {
		outline: none;
		text-decoration: none;
	}
}

// Transparent Button w/ Outline & Arrow
.btn-outline {
	border-radius:2px;
	font-size: 20px;
	color: $light-blue;
	font-family: $whitney;
	font-weight: 500;
	border: 1px solid #b2b7bb;
	padding: 10px 60px 10px 15px;
	background: transparent url('//icongr.am/feather/arrow-right.svg?size=24&color=B2B7BB') no-repeat 93% center;

	&:hover {
		color: $dark-blue;
		background: transparent url('//icongr.am/feather/arrow-right.svg?size=24&color=B2B7BB') no-repeat 95% center;
	}

	svg {
		width: 20px;
	}

	img,
	svg {
		margin-right: 10px;
	}
}

// Primary blue button
.btn {
  &.btn-primary {
  	border-radius:2px;
    &.btn-blue {
      display: block;
      font-size: 20px;
      font-family: $whitney;
      font-weight: 400;
      text-align: left;
      margin: 15px 0;
    	padding: 10px 60px 10px 15px;
			border: 0;

			@include gradient-vertical(#5489c4, #4d80b9);

			svg {
				width: 20px;
				margin-right: 10px;
			}

      &.with-arrow {
				background: #5489c4 url('//icongr.am/feather/arrow-right.svg?size=30&color=FFFFFF') no-repeat 93% center; /* Old browsers */
				background: -moz-linear-gradient(top, #5489c4 0%, #4d80b9 100%) url('//icongr.am/feather/arrow-right.svg?size=30&color=FFFFFF') no-repeat 93% center; /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #5489c4 0%,#4d80b9 100%) url('//icongr.am/feather/arrow-right.svg?size=30&color=FFFFFF') no-repeat 93% center; /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #5489c4 0%,#4d80b9 100%) url('//icongr.am/feather/arrow-right.svg?size=30&color=FFFFFF') no-repeat 93% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5489c4', endColorstr='#4d80b9',GradientType=0 );

        &:hover {
          background-position: 95% center;
        }
      }
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

// Green Button w/ Arrow
.btn {
	&.btn-default {
		border-radius:2px;
		&.btn-green-gradient {

			@include animate(all);

			font-family: $whitney;
			border: 0;
			color: #FFF;
			background: rgb(80,188,118) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 90% center; /* Old browsers */
			background: -moz-linear-gradient(top, rgba(80,188,118,1) 0%, rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 90% center; /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 90% center; /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 90% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 ); /* IE6-9 */

			&:hover {
				background: rgb(78,183,126) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 93% center; /* Old browsers */
				background: -moz-linear-gradient(top, rgba(78,183,126,1) 0%, rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 93% center; /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 93% center; /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=35&color=FFFFFF') no-repeat 93% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eb77e', endColorstr='#47a571',GradientType=0 ); /* IE6-9 */
			}

			&.large {
				font-size: 23px;
				font-family: $whitney;
				font-weight: 400;
				padding: 23px 60px 23px 25px;

				img {
						position: relative;
						bottom: 2px;
				}
			}
		}
	}
}

// Category Flag
.category-flag {
	height: 30px;
	padding: 7px 10px 5px 10px;
	color: #FFF !important;
	text-transform: uppercase;
	font-size: 11px;
	display: inline-block;
}

// Image Gradient Overlay
.image-gradient {
	display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,.7));
}

/* Global Blocks */
.block {
  height: 480px;
  margin: 0 0 30px;

  .block-img {
    height: 280px;
    overflow: hidden;
    img {
      max-width: 100%;
      min-width: 100%;
      height: auto;
    }
  }

	&.hospital-block {
		.block-img {
			max-height: 210px;
			height: auto;

			img {
				max-height: 100%;
				width: auto;
			}
		}
		.block-content {
			a {
				&.btn-outline {
					bottom: 40px;
				}
			}
		}
	}

  .block-content {
    height: 205px;
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 40px 20px 20px;
    position: relative;

    a {
      &.block-title {
        font-size: 29px;
        color: $dark-blue;
        font-family: $whitney;
        font-weight: 500;
				line-height: 1;
      }
    }
    span {
      &.author-role {
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        color: #999999;
        font-family: $helvetica-regular;
      }
    }

    a {
      &.btn-outline {
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
    }
  }
}

// 1200px
@media screen and (max-width: $screen-lg) {
	.btn {
		&.btn-primary {
			&.btn-blue {
				font-size: 18px;

				&.with-arrow {
					background: #5489c4 url("//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF") no-repeat 93% center;
					background: -moz-linear-gradient(top, #5489c4 0%, #4d80b9 100%) url("//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF") no-repeat 93% center;
					background: -webkit-linear-gradient(top, #5489c4 0%, #4d80b9 100%) url("//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF") no-repeat 93% center;
					background: linear-gradient(to bottom, #5489c4 0%, #4d80b9 100%) url("//icongr.am/feather/arrow-right.svg?size=24&color=FFFFFF") no-repeat 93% center;
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5489c4', endColorstr='#4d80b9',GradientType=0 );
				}
			}
		}

		&.btn-default {
			&.btn-green-gradient {
				background: #50bc76 url("//icongr.am/feather/arrow-right.svg?size=28&color=FFFFFF") no-repeat 90% center;
				background: -moz-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=28&color=FFFFFF") no-repeat 90% center;
				background: -webkit-linear-gradient(top, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=28&color=FFFFFF") no-repeat 90% center;
				background: linear-gradient(to bottom, #50bc76 0%, #48ab6b 100%) url("//icongr.am/feather/arrow-right.svg?size=28&color=FFFFFF") no-repeat 90% center;
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 );
				&.large {
					font-size: 20px;
				}
			}
		}
	}

	.btn-outline {
		font-size: 18px;
	}
}

// 991px
@media screen and (max-width: $screen-md) {
	.cta {
		&.cta-inline {
			display: block;
			text-align: center;
			padding: 30px;

			.cta-icon,
			.cta-content {
				margin-right: 0;
				margin-bottom: 15px;
			}

			.cta-content {
				margin-bottom: 25px;

				h2 {
					font-size: 36px;
					line-height: 1.2;
				}
			}
		}
	}
}

// 768px
@media screen and (max-width: $screen-sm) {
	.btn-outline{
		font-size:15px;
		padding:10px 40px 10px 15px;
	}

	.block {
		height: auto;
		margin: 0 0 40px;
	}
}

// 480px
@media screen and (max-width: $screen-xs) {
	.btn-outline {
		font-size: 14px;
		line-height: 1;
	}
}

@media screen and (min-width: 1360px) {
	/* Global Blocks */
	.block {
		&.hospital-block {
			.block-img {
				img {
					max-height: none;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 1359px) {
	.block {
		.block-content {
			a {
				&.block-title {
					font-size: 25px;
				}
			}
		}
	}
}
