
// Fonts
$whitney: 'Whitney A', 'Whitney B', sans-serif;
$helvetica-light: 'HelveticaNeueW01-45Ligh', sans-serif;
$helvetica-regular: 'HelveticaNeueW01-55Roma', sans-serif;
$helvetica-medium: 'HelveticaNeueW01-65Medi', sans-serif;
$helvetica-bold: 'HelveticaNeueW01-75Bold', sans-serif;

// Theme Colors
$icon-blue: #497ebb;
$light-blue: #3d78b8;
$med-blue: #5489c4;
$sh-blue: #5388c2;
$dark-blue: #00337e;
$green: #50bc76;
$light-gray: #edf2fa;
$blue-gray: #455560;
$sh-orange: #ffba4a;

// Category Colors
$aging-well: #2655b0;
$cancer-care: #455560;
$cardiovascular-care: #C74A5D;
$childrens-health: #faa339;
$chronic-conditions: #948671;
$community: #9EA374;
$diet-nutrition: #B9AB97;
$digestive-health-disorders: #00355F;
$health-wellness: #205352;
$chronic-conditions: #948671;
$lungs-breathing-sleep: #9dbcb1;
$mens-health: #EC881D;
$neuroscience: #A9C398;
$orthopedics: #739DD2;
$pregnancy-childbirth: #629080;
$research-technology: #005295;
$womens-health: #CE7067;

// Brand Colors
$facebook: #3b5998;
$twitter: #28a9e0;
$youtube: #ff0000;
$pinterest: #cc2127;
$instagram: #000;
