form {
  /* Subscribe Form */
  &.subscribe {
    input {
      height: 80px;
      width:100%;
      background: #FFF;
      color: #aca9a9;
      font-size: 16px;
      border: 0;
      padding-left: 30px;
    }

    button {
      &.btn-green-gradient {
        position: relative;
        top: 2px;
      }
    }

    ::-webkit-input-placeholder {
      color: #aca9a9;
    }
    ::-moz-placeholder {
      color: #aca9a9;
    }
    ::-ms-input-placeholder {
      color: #aca9a9;
    }
    :-moz-input-placeholder {
      color: #aca9a9;
    }
    ::placeholder {
      color: #aca9a9;
    }
  }
}

ul {
  /* Share List */
  &.share-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 10px;

      &.title {
        font-size: 16px;
        vertical-align: top;
        margin-top: 5px;
        color: #b2b7bb;
        margin-left: 0;
      }

      a {
        font-size: 21px;

        i {
          @include animate(all);
        }

        &.facebook {
          color: #496ca8;
        }
        &.twitter {
          color: #00d2fa;
        }
        &.linkedin {
          color: #008ebc;
        }
        &.pinterest {
          color: #f52c16;
        }
        &.google {
          color: #ef7858;
        }

        &:hover {
          i {
            @include vendor('transform', 'scale(1.2)');
          }
        }
      }
    }
  }
}

// Share box
.single-share {
  background: $light-gray;
  padding: 40px 20px 40px 40px;
  margin: 90px 0 0;
  display: flex;
  @include vendor('align-items', 'center');
  @include vendor('justify-content', 'flex-start');
  width: auto;
  float: left;

  h3 {
    font-size: 27px;
    font-weight: 400;
    color: #5388c2;
    line-height: 1.2;
    margin: 0 0 20px;
  }

  .subscribe-box {
    margin-left: 40px;

    form {
      &.subscribe {
        input {
          font-size: 16px;
          padding-left: 20px;
        }
        .btn {
          &.btn-green-gradient {
            &.large {
              font-size:22px;
              background:$green;
              padding: 24px 0px 24px 0px !important;
              width:97% !important;
              margin-left:10px;
              display:block;
              color: #FFF !important;

              &:hover {
                background:#45ae6a;
              }
            }
          }
        }
      }
    }
  }
}
