#sidebar {
	.widget-area {
		padding: 15px 0;
		margin-bottom: 15px;

		&:empty {
			display: none !important;
		}

		&:first-of-type {
			padding-top: 0;
		}

		h2 {
			&.widget-title {
				font-size: 16px;
				text-transform: uppercase;
				font-family: $helvetica-medium;
				color: $blue-gray;
				margin: 0 0 15px;
			}
		}

		a {
			&.btn {
				&.btn-primary {
					&.btn-blue {
						svg {
							width: 20px;
							height: 20px;
						}
					}
				}
			}

			&.btn-outline {
				svg {
					width: 20px;
					height: 17px;
				}
			}
		}

		.widget-block {
			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
			.widget-cta {
				background: $light-gray;
				padding: 30px 0;
				text-align: center;

				.btn-green-gradient {
					&.large {
						font-size: 20px;
						margin: 0 auto;

						background: rgb(80,188,118) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 93% center; /* Old browsers */
						background: -moz-linear-gradient(top, rgba(80,188,118,1) 0%, rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 93% center; /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 93% center; /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(80,188,118,1) 0%,rgba(72,171,107,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 93% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50bc76', endColorstr='#48ab6b',GradientType=0 ); /* IE6-9 */

						&:hover {
							background: rgb(78,183,126) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 95% center; /* Old browsers */
							background: -moz-linear-gradient(top, rgba(78,183,126,1) 0%, rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 95% center; /* FF3.6-15 */
							background: -webkit-linear-gradient(top, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 95% center; /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, rgba(78,183,126,1) 0%,rgba(71,165,113,1) 100%) url('//icongr.am/feather/arrow-right.svg?size=26&color=FFFFFF') no-repeat 95% center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eb77e', endColorstr='#47a571',GradientType=0 ); /* IE6-9 */
						}
					}
				}
			}
		}

		ol {
			&.most-popular-list {
				padding: 0;
				font-size: 17px;
				counter-reset: item;

				li {
					line-height: 1.2;
					margin: 0 0 15px;
					display: block;
					display: table;

					&:before {
						content: counter(item) ". ";
						counter-increment: item;
						color: #b2b7bb;
						position: relative;
						display: table-cell;
						width: 30px;
					}
				}
			}
		}

		#wp_rp_first {
			ul {
				&.related_post {
					list-style: none;
					padding: 0;
					li {
						width: 100% !important;
						float: none !important;
						margin: 0 0 30px;

						&:last-child {
							margin-bottom: 0;
						}

						a {
							&.wp_rp_thumbnail {
								display: block;
								height: 150px;
								overflow: hidden;

								img {
									width: 100%;
									max-width: 100%;
									height: auto;
									position: relative;
									top: 50%;
									left: 50%;
									@include vendor('transform', 'translate(-50%, -50%)');
								}
							}
							&.wp_rp_title {
								display: block;
								border: 1px solid #dce4ea;
								border-top: 0 !important;
								padding: 20px;
								font-size: 26px;
								color: #00337e;
								font-family: $whitney;
								font-weight: 500;
								position: relative;
								top: -1px;
								line-height: 1.1;
							}
						}
					}
				}
			}
		}

		.post-tags {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					margin: 0 10px 10px 0;
					a {
						background: #d0d9e1;
						color: #FFF;
						font-size: 17px;
						font-weight: 500;
						padding: 10px 15px;
						display: block;
						line-height: 1.1;

						&:hover {
							background: darken(#d0d9e1, 10%);
						}
					}
				}
			}
		}
	}

	ul {
		&#menu-sidebar-resources {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 15px 0;

				a {
					display: flex;
					@include vendor('align-items', 'center');
				}
			}
		}
	}
}

@media screen and (max-width: $screen-md) {
	#sidebar {
		&.main-sidebar {
			margin: 30px 0;
		}

		ul {
			&#menu-sidebar-resources {
				li {
					a {
						line-height: 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	#sidebar {

		&.main-sidebar {
			margin-top: 50px;
		}
		.widget-area {
			#wp_rp_first {
				ul {
					&.related_post {
						li {
							a {
								&.wp_rp_title {
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}
