// Photo galleries
.post-gallery {
  .slick-prev {
    background: transparent url('../img/gallery-prev.svg') no-repeat center center;
      left: 0;
      [dir="rtl"] & {
          right: 0;
          left: auto;
      }
  }

  .slick-next {
    background: transparent url('../img/gallery-next.svg') no-repeat center center;
      right: 0;
      [dir="rtl"] & {
          left: 0;
          right: auto;
      }
  }

  img {
    max-width: 100%;
    width: 800px;
    height: auto;
    margin: 0 auto;
  }

  .gallery-caption {
    text-align: left;
    max-width: 100%;
    width: 800px;
    margin: 30px auto;
  }
}

// Photo gallery thumbnails (navigation)
.post-gallery-thumbs {
  margin-bottom: 40px;

  .gallery-thumb {
    margin-right: 5px;
    width: 100px;
    overflow: hidden;

    img {
      max-width: 100%;
      opacity: .5;
      @include animate(all);
    }

    &:hover {
      img {
        opacity: .9;
        cursor: pointer;
      }
    }

    &.slick-current {
      img {
        opacity: 1;
        border: 8px solid $green;
      }
    }
  }

  .slick-list {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
  }

  .slick-prev,
  .slick-next {
    height: 55px;
    width: 50px;
    top: 47%;
  }

  .slick-prev {
    background: transparent url('https://icongr.am/fontawesome/angle-left.svg?size=84&color=455560') no-repeat center center;
      left: 0;
      [dir="rtl"] & {
          right: 0;
          left: auto;
      }
  }

  .slick-next {
    background: transparent url('https://icongr.am/fontawesome/angle-right.svg?size=84&color=455560') no-repeat center center;
      right: 0;
      [dir="rtl"] & {
          left: 0;
          right: auto;
      }
  }
}
