body {
  &.single {
    .post {
      background-color: transparent !important;
      overflow: auto;
      overflow-x: hidden;

      .category-flag {
        font-size: 15px;
        height: 35px;
      }

      // Header section
      .post-header {
        margin: 40px 0 60px;
        padding-left: 20px;

        h1 {
          &.post-title {
            font-size: 50px;
            margin: 0 0 30px;
            line-height: 1;
          }
        }
        h3 {
          &.post-subhead {
            font-size: 25px;
            color: #999999;
            font-family: $helvetica-medium;
            margin: 0;
          }
        }
      }

      // Byline
      .post-byline {
        display: block;
        padding: 0 0 30px 0;
        border-bottom: 1px solid #d7d7d7;
        margin: 0 30px 60px 0;
        min-height: 75px;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;

          li {

            &.divider {
              height: 20px;
              width: 1px;
              background: #d7d7d7;
              margin: 0 20px;
            }

            &.author {
              font-size: 18px;
              color: #b5babd;
              display: table;
              line-height: 1;
                small{
                  display:block;
                  margin-left:31px;
                }

              span {
                display: table-cell;
                vertical-align: top;
              }
              img {
                width: 50px;
                height: 50px;
                border-radius: 100px;
                margin-right: 15px;
                position: relative;
                bottom: 8px;

              }

              small {
                display: block;
                font-size: 12px;
                margin-top: 8px;
              }
            }

            &.date {
              font-size:12px;
              color: #616060;
            }

            &.comment-shares {
              font-size: 12px;
              color: #616060;
              margin-top:-2px;

              > span {
                display: inline-block;
                vertical-align: sub;
                &.meta-comments {
                  margin-right: 20px;
                }
              }
            }
          }

          &.share-list {
            @include vendor('align-items', 'center');
            @include vendor('justify-content', 'center');
            float: right;

            li {
              &.title {
                font-size: 12px;
                text-transform: uppercase;
                color: #616060;
              }
              margin: 0 0 0 15px;

              a {
                font-size: 18px;
              }

              .fb-like {
                position: relative;
                bottom: 2px;
              }
            }
          }
        }
      }

      @import 'single-gallery';

      // Post content
      .post-content {
        font-size: 18px;
        padding-left: 65px;

        .full-infographic {
          margin-bottom: 60px;
        }
        img {
          max-width: 100%;
          height: auto;
        }

        .wp-caption {
          .wp-caption-text {
            font-size: 16px;
            color: #757575;
            font-family: $helvetica-regular;
            text-align: left;
            margin: 15px 0;
          }
        }

        p {
          margin: 0 0 20px;
        }

        h3 {
          font-size: 30px;
          font-weight: 700;
          color: #5388c2;
          line-height: 1.2;
          margin: 50px 0 20px 0px;
        }

        iframe {
          margin: 30px 0;
        }
      }
    }
  }
}

@import 'comments';

@media screen and (max-width: $screen-lg) {
  body {
		&.single {
			.top-section {
				margin-left: -15px;
			}
		}
	}
}

@media screen and (max-width: $screen-md) {
  body{
		&.single{
			.single-share{
				.subscribe-box{
					form{
						&.subscribe{
							.btn{
								&.btn-green-gradient{
									&.large{
										margin-left:0px;
										width:100% !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
  body {
		&.single {
			.post {

				.post-header {
					margin: 20px 0 40px;
					padding-left: 0;

					h1 {
						&.post-title {
							font-size: 38px;
						}
					}

					h3 {
						&.post-subhead {
							font-size: 20px;
						}
					}
				}

				.post-byline {
					margin-bottom: 30px;

					ul {
						display: block;

						li {
							display: inline-block;

							&.divider {
								margin: 0 5px;

								&:last-of-type {
									display: none;
								}
							}

							&.author {
								font-size: 15px;
								line-height: 1;
								float: left;

								span {
									vertical-align: middle;
								}

								img {
									width: 35px;
									height: 35px;
									bottom: 0;
								}

								small {
									margin-top: 4px;
								}
							}

							&.date {
								font-size: 13px;
							}

							&.comment-shares {
								span {
									&.meta-comments {
										margin-right: 10px;
									}
								}
							}
						}

						&.share-list {
							float: none;

							li {
								margin: 0 0 0 8px;

								&.title {
									margin: 0;
								}
							}
						}
					}
				}

				.post-gallery {
					.gallery-caption {
						max-width: 100%;
						width: auto;
						font-size: 12px;
						margin: 10px auto;
					}

					.slick-next,
					.slick-prev {
						width: 40px;
						height: 80px;

						background-size: 100% !important;
					}
				}

				.post-gallery-thumbs {
					.slick-next,
					.slick-prev {
						height: 35px;
						width: 30px;

						background-size: 100% !important;
					}

					.gallery-thumb {
						&.slick-current {
							img {
								border-width: 4px;
							}
						}
					}
				}

				.post-content {
					padding-left: 15px;
					font-size: 16px;

					h3 {
						font-size: 24px;
					}

					iframe {
						max-width: 100%;
						height: auto;
					}
				}
			}

			.single-share {

				padding: 30px 10px 20px 20px;

				h3 {
					font-size: 23px;
				}
			}
		}
	}
}

@media screen and (max-width: $screen-xs) {
  body {
		&.single {
			.post {

				img {
					max-width: 100%;
					height: auto;
				}

				.post-header {
					margin: 20px 0 40px;
					padding-left: 0;

					h1 {
						&.post-title {
							font-size: 38px;
						}
					}

					h3 {
						&.post-subhead {
							font-size: 20px;
						}
					}
				}

				.post-byline {
					margin-bottom: 30px;

					ul {
						display: block;
						float: none !important;

						li {

							&.divider {
								display: none;
							}
							margin-bottom: 0;

							&.author {
								display: block;
								font-size: 15px;
								line-height: 1;
								float: none;
                margin-bottom: 10px;

								span {
									vertical-align: middle;
								}

								img {
									width: 35px;
									height: 35px;
									bottom: 0;
								}

								small {
									margin-top: 4px;
								}
							}

							&.date {
								display: block;
                margin: 5px 0 0;
							}

              &.comment-shares {
                margin: -5px 0 8px;
              }
						}

						&.share-list {
							li {
								margin: 0;
                display: none;

                &:last-of-type {
                  display: block;
                  margin-left: 0;
                }

								&.title {
									margin: 0;
								}
							}
						}
					}
				}

				.post-gallery {
					.gallery-caption {
						max-width: 100%;
						width: auto;
						font-size: 12px;
						margin: 10px auto;
					}

					.slick-next,
					.slick-prev {
						width: 40px;
						height: 80px;

						background-size: 100% !important;
					}
				}

				.post-gallery-thumbs {
					.slick-next,
					.slick-prev {
						height: 35px;
						width: 30px;

						background-size: 100% !important;
					}

					.gallery-thumb {
						&.slick-current {
							img {
								border-width: 4px;
							}
						}
					}
				}

				.post-content {
					padding-left: 15px;
					font-size: 16px;

					h3 {
						font-size: 24px;
					}
				}
			}

			.single-share {
				display: block;
				float: none;
				padding: 30px 10px 20px 20px;

				h3 {
					font-size: 23px;
				}

				.subscribe-box {
					margin-top: 30px;
				}
			}
		}
	}
}
