/* Series List */
.media {
  &.post-list {
    &.series {

			.media-left {
				.post-image {
					width: 350px;
					height: 215px;
				}
			}

			.media-body {
				position: relative;

				.post-content {
					padding-top: 0;
					min-height: 215px;

					a {
						h3 {
							margin: 0 0 15px;
							line-height: 1;
						}

						&.btn-outline {
							display: inline-block;
						}
					}

					p {
						font-size: 15px;
					}

					.series-meta {
						position: absolute;
						bottom: 0;
						left: 0;

						span {
							&.series-count {
								display: block;
								font-size: 13px;
								color: #959595;
								text-transform: uppercase;
								font-family: $helvetica-regular;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
  }
}

#series-landing {
  .page-header-container {
    &.series-header {
      padding-top: 0;

      .series-flag {
        text-transform: uppercase;
        font-size: 18px;
        font-family: $helvetica-regular;
        color: #959595;
        margin: 30px 0;

        span {
          font-family: $helvetica-medium;

          &.health {
            color: $sh-orange;
          }
          &.beat {
            color: $icon-blue;
          }
        }
      }

      p {
        color: #333333;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  #special-series {
		.media {
			&.post-list {
				&.series {
					margin-bottom: 40px !important;

					.media-left {
						.post-image {
							width: 100%;
							height: auto;
						}
					}

					.media-body {
						padding: 10px 5px;

						.post-content {
							height: auto;

							p {
								font-size: 14px;
							}
							.series-meta {
								margin-top: 15px;
								position: relative;
							}
						}
					}
				}
			}
		}
	}
}
